#special{
    padding:0px 400px 30px 400px;    
}

h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Raleway', sans-serif;
}

.containers{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(51,204,255);
}


html{
    background-color: rgb(51,204,255);
}
